:root {
    color-scheme: light dark;
    --system-background: #FFF;
    --primary: #000;
    --accent-color: #005396;
    --custome-skyblue: #4099FF;
    --custome-pink: #FF0099;
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light dark;
        --system-background: #000;
        --primary: #FFF;
        --accent-color: #005396;
        --custome-skyblue: #4099FF;
        --custome-pink: #FF0099;
    }
}

body {
    background-color: var(--system-background);
    padding-top: 14px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    font-family: -apple-system, system-ui;
    color: var(--primary);
}

body.iPad {
    width: 420px;
}

body:not(.iPad) {
    width: 100%;
}

h1 {
  margin: 0 20px;
  padding: 0 0 14px;
}

.list {
    width: 70%;
    padding: 5%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.btn {
    color: var(--accent-color);
    cursor: pointer;
    border: 3px solid var(--accent-color);
    border-radius: 50vh;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

